 .bannerBgImage
 {
    height:100vh;
    background: url("/images/bannerImage.jpg");
    background-size: cover;
    position: relative;
 }

 .bannerText
 {
    text-align: left;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
 }
 .bannerTitle
 {
   font: size 4rem; 
 }

 .bannerDesc
 {
    font: size 2rem;
 }
 .card
 {
   cursor:pointer;
 }
 .card:hover{
   background-color: violet;
   border:5px greenyellow;
 }
 .BIcon
 {
   width:100%;
   text-align: center;
   font: size 40px;font-style: italic;
 }
 